# Dependencies
node_modules/
vendor/

# Environment
.env
.env.*
!.env.example

# Build outputs
dist/
build/

# IDE
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Private keys (JaaS / RSA)
*.pk
*.pub

# Laravel
Backend/storage/logs/*.log
Backend/bootstrap/cache/*.php

# Images (assets lourds)
*.jpeg
*.jpg
*.png
!Frontend/src/assets/**

# Local Netlify folder
.netlify
